<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>[[title]]</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
              crossorigin="anonymous">
        <link href="../assets/css/open-data.css" rel="stylesheet"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />

        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
                integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-70692454-1', 'auto');
            ga('send', 'pageview');

        </script>

        <script src="/assets/js/model.js"></script>
    </head>
    <body>
        <!--Fork me On github-->
        <div class="github-fork-ribbon-wrapper right">
            <div class="github-fork-ribbon">
                <a href="https://github.com/Serli/opendata-poitiers-backend" >Fork me on GitHub</a>
            </div>
        </div>


        <!--Menu principale-->
        <nav class="navbar navbar-inverse navbar-fixed-top  navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">OpenData Poitiers API</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">                                            
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="background-color: #1068b0">Applications <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/dashboard" data-toggle="tooltip" >Dashboard <span class="glyphicon glyphicon-dashboard"></span></a></li>
                                <li><a href="https://itunes.apple.com/us/app/id1020211807?mt=8" data-toggle="tooltip" >iOS App <span class="glyphicon glyphicon-apple"></span></a></li>
                            </ul>   
                        </li>

                        <li><a class="collapse navbar-collapse" href="/#apropos">&Agrave; propos</a></li>
                    </ul>
                    <a class="navbar-brand pull-right" href="http://serli.com">by Serli</a>
                    <ul id="myTab" class="nav navbar-nav pull-right">           
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="background-color: #1068b0">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="admin.html#a" data-toggle="tooltip">Data</a></li>
                                <li><a href="admin.html#b" data-toggle="tooltip">Add Data</a></li>
                                <li><a href="admin.html#c" data-toggle="tooltip">Dashboard</a></li>
                            </ul>
                        </li>
                     </ul>
                </div>
            </div>
        </nav>

        [[body]]

    </body>
</html>

