body {
    padding-top: 50px;
}

p {
    font-size: 16px;
}

.navbar-custom {
    background-color:#1068b0;
}

.navbar-custom .navbar-nav>li>a {
    color:#d3d3d3;
}

.navbar-custom .navbar-brand {
    color:#d3d3d3;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.gauche {
    float : left;
    width: 10%;
}

.droite {
    margin-left : 10%;
}

#elastic-type-field {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fields {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#tabs ul{
    display: table;
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background: #468DB7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}

#tabs ul li{
    display: table-cell;
    width : 33.3%;
}

#tabs ul li a{
    display: block;
    text-align: center;
    color : #d3d3d3;
    text-decoration: none;
    padding: 8px 8px 17px 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}

#tabs ul li:first-child a{
    border-radius: 3px 0 0 3px;
}
#tabs ul li:last-child a{
    border-radius: 0 3px 3px 0;
}

#tabs ul li a:hover, 
#tabs ul li a:focus{
    background: rgba(255,255,255,.2);
    padding: 8px 25px 17px 25px;
} 

#tabs ul li a:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

.txt_msg_line{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
}

.put_add{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
}

#myProgress {
    width: 10%;
    height: 10px;
    position: relative;
    background-color: grey;
}
#myBar {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: green;
} 