body {
    padding-top: 50px;
}

p {
    font-size: 16px;
}

.navbar-custom {
    background-color:#1068b0;
}

.navbar-custom .navbar-nav>li>a {
    color:#d3d3d3;
}

.navbar-custom .navbar-brand {
    color:#d3d3d3;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.gauche {
    float : left;
    width: 10%;
}

.droite {
    margin-left : 10%;
}

#elastic-type-field {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fields {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.txt_msg_line{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
}

.put_add{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
}

#myProgress {
    width: 10%;
    height: 10px;
    position: relative;
    background-color: grey;
}
#myBar {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: green;
}

.glyphicon{
    float: right;
}

.mytableheader{
   font-size : 14px;
   font-family : Verdana;
   color : #F0FFF0;
   text-align : center;
   background-color : #1068b0
}
.mytbody{
   font-size : 14px;
   font-family : Verdana;
   border-radius: 8px;
   background-color : #DCDCDC;
   border: 12px solid transparent;
}
